
body {
	background-color: #3f423d;
	font-family: helvetica;
	color:#ffffee;
	
}

.threadindex_list {
	margin: 0 auto;
  	padding: 0;
  	list-style-type: none;
  	background-color: #fff;
}

@media only screen and (min-width: 788px) {
	.threadindex_list {
		max-width: 700px;
		background-color: #fff;
  		box-shadow: 0 0 1px #aaa;

	}
}


.threadindex_list li {
	border-top: 1px solid #EDDDDD;
	padding: 20px;
}

.threadindex_list li:nth-child(even) {
	background: #393d37;
}
.threadindex_list li:nth-child(odd) {
	background: #5f685a;
}


a {
	color:#fff;
}




.curr_rate_symbol { 
	
	font-weight: bold;
	margin-bottom: 10px;
	display: inline-block;

	
}



.curr_rate_inner {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 12px;
	width: 100px;
}

.curr_rate_holding_title { 
	margin-top: 40px;
	margin-right: 20px;
	font-size: 12px;
	font-weight: bold;
}

.curr_rate_holding { 
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block;
	
	font-size: 12px;
	font-weight: bold;
	
	width: 100px;
	vertical-align: top;
}


@media only screen and (min-width: 400px) {
	.curr_rate_inner {
		font-size: 14px;	
		width: 140px;
	}
	.curr_rate_holding_title { 
		font-size: 14px;
	}
	.curr_rate_holding { 
		font-size: 14px;
		width: 140px;
	}
}





.profile_header {
	font-size: 16pt;
	font-weight: bold;
}

.youown {
	margin-top: 12px;
	margin-bottom: 12px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #444; /* Modern Browsers */
}

#loader_msg {
	font-size:12px;
}